.header{
    background-color: #333333;
    width: 100vw;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
}

.header__left  p{
    color: #b2b2b2;
    line-height: 1.8;
    font-size: 12px;
}

.header__right{
    display:  flex;
}

.header__right__item{
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}

.header__right__item p {
    color: #b2b2b2;
    line-height: 1.8;
    font-size: 12px;
}

.header__right__item p:hover{
    color: #337AB7;
    animation-duration: ease 1s;
}